<% if(user.role == 'admin') {%>
<%- include('./../partials/admin/_admin_dashboard_panel') -%>

<% }else{ %>
<%- include('./../partials/blogger/_blogger_dashboard_panel') -%>
<% } %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">Settings</h2>
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="false">Profile</a>
                    </li>
                </ul>
                <!-- <form method="post" action="/api/users/"> -->
                <div class="row mt-5 align-items-center">
                    <div class="col-md-3 text-center mb-5">
                        <div class="avatar avatar-xl">
                            <% let avatar=user.profileImage %>
                            <% if (!user.profileImage){ %>
                            <% avatar="default-avatar.jpg" %>
                            <% } %>
                            <img id="profile-avatar" src="/images/avatar/<%= avatar %>" alt="avatar"
                                class="avatar-img rounded-circle" />
                        </div>
                        <div class="d-flex justify-content-center w-100">
                            <div class="d-flex column image-upload">
                                <form id="profile-upload-form" method="post" action="/api/users/avatar"
                                    enctype="multipart/form-data">
                                    <label for="file-input">
                                        <i id="add-image" class="fas fa-upload fa-2x avatar-btn"></i>
                                    </label>
                                    <input id="file-input" type="file" accept="image/png, image/jpeg" name="avatar"
                                        onchange="readURL(this);" />
                                </form>
                                <label for="delete-image">
                                    <i id="delete-image" class="fas fa-trash-alt fa-2x avatar-btn" onclick="DeleteAvatar();"></i>
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="col">

                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <h4 class="mb-1"><%= user.firstName + " " + user.lastName %></h4>
                                <p class="small mb-3"><span class="badge badge-dark"><%= user.role %></span></p>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-7">
                                <p class="text-muted">

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <form method="post" action="/api/users/update">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="first-name">First Name</label>
                            <input type="text" id="first-name" class="form-control" name="firstName"
                                value="<%= user.firstName%>" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="last-name">Last Name</label>
                            <input type="text" id="last-name" class="form-control" name="lastName"
                                value="<%= user.lastName%>" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user-name">Username</label>
                        <input type="text" class="form-control" id="user-name" name="userName"
                            value="<%= user.userName%>" required />
                    </div>
                    <div class="form-group">
                        <label for="inputAddress5">Phone Number</label>
                        <input type="text" class="form-control" id="phone-number" name="phoneNumber"
                            value="<%= user.phoneNumber%>" required />
                    </div>
                    <div class="form-group">
                        <label for="about-me">About Me</label>
                        <textarea id="about-me" class="form-control" rows="5" name="aboutMe"
                            required><%= user.aboutMe%></textarea>
                    </div>
                    <button id="save-info" type="submit" class="btn btn-primary mt-2">Save Information</button>

                </form>
                <!-- <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCompany5">Company</label>
                            <input type="text" class="form-control" id="inputCompany5" placeholder="Nec Urna Suscipit Ltd" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState5">State</label>
                            <select id="inputState5" class="form-control">
                                <option selected="">Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip5">Zip</label>
                            <input type="text" class="form-control" id="inputZip5" placeholder="98232" />
                        </div>
                    </div> -->
                <hr class="my-4" />
                <!-- </form> -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPassword4">Old Password</label>
                            <input type="password" class="form-control" id="old-password" />
                        </div>
                        <div class="form-group">
                            <label for="inputPassword5">New Password</label>
                            <input type="password" class="form-control" id="new-password" />
                        </div>
                        <div class="form-group">
                            <label for="inputPassword6">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm-password" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-2">Password requirements</p>
                        <p class="small text-muted mb-2">To create a new password, you have to meet all of the following
                            requirements:</p>
                        <ul class="small text-muted pl-4 mb-0">
                            <li>Minimum 8 character</li>
                            <li>At least one special character</li>
                            <li>At least one number</li>
                            <li>Can’t be the same as a previous password</li>
                        </ul>
                    </div>
                </div>
                <button id="save-password" type="submit" class="btn btn-primary">Save Password</button>
            </div>
        </div>
    </div>

</div>
</body>

</html>